.wrapper_row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    width: 1200px;
}

.wrapper_column {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 30%;
    align-items: center;
}

.radio_form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    width: 50%;
}

.radio_buttom {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 150px;
    align-items: center;
    
    
}

.content {
    font: normal normal 400 16px sans-serif;
}

.test {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: calc(100%/25);
    align-items: center;
    margin-right: 20px;
}

.test_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    width: 50%;
}

.buttom_submit {
    margin: 15px 0 0 0;
}

.superTitle {
    font: normal normal 700 36px sans-serif;
}

.form-item {
    margin: 15px 0 0 0;
}